<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博学谷</title>
    <link rel="stylesheet" href="./css/category.css"/>
    <script src="./lib/jquery.js"></script>
    <script src="./lib/template-web.js"></script>
    <script src="./js/category.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="header">
        <div class="left">
            <img src="./images/logo.png" alt="">
        </div>
        <div class="right">
            <span>课程分类</span>
        </div>
    </div>    
    <!-- 头部 -->



    <!-- 主体内容 -->
    <div class="main">
        <div class="sidebar">
            <div class="active">前端</div>
            <div>微信小程序</div>
            <div>Vue.js</div>
            <div>移动web开发</div>
            <div>bootstrap</div>
            <div>Node.js</div>
        </div>
        <div class="content">
            
            <div>
                <div class="top">
                    <div class="title">就业班</div>
                    <div>
                        <img src="./images/web_fe.png" alt="">
                        <span>web前端在线就业班</span>
                    </div>
                </div>
                <div class="bottom">
                    <div class="title">提高课</div>
                    <ul>
                        <li>
                           <a href="#">微信小程序</a> 
                        </li>
                        <li>
                            <a href="#">深入探索js</a> 
                        </li>
                        <li>
                            <a href="#">node.js</a> 
                        </li>
                        <li>
                            <a href="#">bootstrap</a> 
                        </li>
                        <li>
                            <a href="#">vue.js</a> 
                        </li>
                        <li>
                            <a href="#">微信小程序</a> 
                         </li>
                         <li>
                             <a href="#">深入探索js</a> 
                         </li>
                         <li>
                             <a href="#">node.js</a> 
                         </li>
                         <li>
                             <a href="#">bootstrap</a> 
                         </li>
                         <li>
                             <a href="#">vue.js</a> 
                         </li>
                         <li>
                            <a href="#">微信小程序</a> 
                         </li>
                         <li>
                             <a href="#">深入探索js</a> 
                         </li>
                         <li>
                             <a href="#">node.js</a> 
                         </li>
                         <li>
                             <a href="#">bootstrap</a> 
                         </li>
                         <li>
                             <a href="#">vue.js</a> 
                         </li>
                         <li>
                            <a href="#">微信小程序</a> 
                         </li>
                         <li>
                             <a href="#">深入探索js</a> 
                         </li>
                         <li>
                             <a href="#">node.js</a> 
                         </li>
                         <li>
                             <a href="#">bootstrap</a> 
                         </li>
                         <li>
                             <a href="#">vue.js</a> 
                         </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="top">
                    <div class="title">就业班</div>
                    <div>
                        <img src="./images/web_fe.png" alt="">
                        <span>web前端在线就业班</span>
                    </div>
                </div>
                <div class="bottom">
                    <div class="title">提高课</div>
                    <ul>
                        <li>
                           <a href="#">微信小程序</a> 
                        </li>
                        <li>
                            <a href="#">bootstrap</a> 
                        </li>
                        <li>
                            <a href="#">node.js</a> 
                        </li>
                        <li>
                            <a href="#">anjular</a> 
                        </li>
                        <li>
                            <a href="#">react</a> 
                        </li>
                    </ul>
                </div>
            </div>

            <div>vue</div>
            <div>移动web开发</div>
            <div>bootstrap</div>
            <div>Node</div>

        </div>

     
    </div>
    <!-- 主体内容 -->




    <!-- 底部 -->
    <div class="dibu">
        <div class="footer">
            <a href="./index.html">
                <img src="./images/屏幕截图 2022-05-07 174904.png" alt="">
            </a>
            <a href="./category.html">
                <img src="./images/屏幕截图 2022-05-07 174918.png" alt="">
            </a>
        </div>
       </div>
    <!-- 底部 -->
</body>
</html>